body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 30px auto;
  background-image: linear-gradient(to top,rgb(137, 179, 187) ,white);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

table {
  width: 100%;
  border: 4px double black;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

button {
  padding: 4px 10px;
  cursor: pointer;
}

.total2 {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

#btn-checkout {
  border-radius: 10px;
  box-shadow: 3px 5px 7px;
  border: 1px solid black;
  padding: 10px;
  
}

#result {
  text-align: center;
  position: relative;
  top: 30px;
  font-size: 1.5em;

}
h2{
  text-align: center;
}