body {
   font-family: Arial, sans-serif;
   margin-left: 0px;
   background-image: linear-gradient(rgb(114, 220, 241), rgb(222, 134, 80));
   background-attachment: fixed;
   background-repeat: no-repeat;
}

#container {
   padding: 9px;
   padding-left: 0px;
   width: 100%;
   height: 80%;
   background-color: rgb(115, 181, 127);
}

#road {
   width: 100%;
   height: 100px;
   border-top: 2px solid yellow;
   border-bottom: 2px solid yellow;
   margin: 30px auto;
   background-color: gray;

}

#car {
   height: 90px;
   width: 100px;
   position: absolute;
   left: 0px;
   top: 68px
}

#stopButton {
   padding-top: 15px;
   border-radius: 30px;
   margin: 10px auto;
   background-color: white;
   width: 100px;
   height: 50px;
   color: black;
   text-align: center;
   font-size: 24px;
   line-height: 30px;
   box-shadow: 2px 4px 5px;
}

img {
   width: 200px;
}

.lane {
   height: 50px;
   border-bottom: 3px dashed white;
}

h1 {
   text-align: center;
}